@import "../node_modules/ol/ol.css";

html, body, #root, .App {
  margin: 0;
  height: 100%;
}

.map-and-menu-container {
  /*display: flex;*/
  /*align-items: stretch;*/
  width: 100%;
  height: 100%;
}

.map-container {
  position: absolute;
  /*flex-grow: 1;*/
  height: 100%;
  width: 60%;
  float: left;
}

.map-viewport {
  /*flex-grow: 1;*/
  height: 100%;
  width: 100%;
  float: left;
}

.menu-container {
  /*flex-grow: 1;*/
  width: 40%;
  float: right;
  padding: 1rem;
}

.scenario-select {
  display: inline;
}

.layers-control {
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;
}

.layers-control button {
  min-width: 24px;
  min-height: 24px;
}

.layers-panel {
  background-color: white;
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
  filter: drop-shadow(2px 2px 2px grey);
}

.layer-info {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 5px;
}

.layer-info p {
  padding: 0.5rem;
  margin: 0;
  font-weight: 600;
}

/*.edit-wallpaper {
  display: flex;
  align-items: baseline;
}

.edit-wallpaper .bp4-html-select {
  margin-left: 1rem;
}*/

.sidebar-subheading {
  padding-top: 1rem;
  /*font-weight: 600;*/
  font-size: 1.2rem;
}

.conversion-panel {
  background-color: rgba(240, 240, 240, 1.0);
  filter: drop-shadow(1px 1px 1px grey);
  padding: 0.5rem;
}

.conversion-radio {
  padding-top: 0.5rem;
}

.wallpaper-options {
  display: inline-block;
  vertical-align: top;
}

.wallpaper-options button {
  margin-bottom: 1rem;
}

.wallpaper-selected-pattern {
  display: inline-block;
  float: right;
/*  margin-left: 1rem;*/
  width: 80px;
  height: 80px;
/*  border: dotted gray;*/
}

.wallpaper-selected-pattern .bp4-non-ideal-state-visual {
  margin-bottom: 0rem;
  line-height: 0;
}

.wallpaper-selected-pattern .thumbnail {
  width: 75px;
  height: 75px;
}

.pattern-catalog {
  list-style-type: none;
}

.pattern-catalog li {
  padding-top: 1rem;
}

.pattern-catalog button {
  display: inline-block;
}

.pattern-catalog label {
  display: inline-block;
  padding-left: 1rem;
  vertical-align: top;
  padding-top: 0.5rem;
  font-weight: 500;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

#study-area-input-container {
  display: flex;
}

#study-area-input-container div {
  flex-grow: 1;
}

#study-area-input-container label {
  font-size: 1.2rem;
}

.study-area-table {
  margin-top: 0.5rem;
  border-collapse: collapse;
}

.study-area-table tr {
  border: solid;
  border-color: lightgray;
  border-width: 0.5px 0;
}

.study-area-table tr:first-child {
  border-top: none;
}

.study-area-table .parcel-address {
  width: 200px;
}

.study-area-table .parcel-block {
  display: flex;
  flex-wrap:  wrap;
}

.study-area-table .hidden-row {
  display: none;
}

.study-area-table-legend {
  display: flex;
  height: 1rem;
  padding-bottom: 2rem;
}

.scenario-table {
  padding-top: 1rem;
}

.scenario-table .col-name {
  transform: rotate(310deg);
}

.scenario-table .row-name {
  font-size: 0.7rem;
  padding: 0.5rem;
  border-left-style: solid;
  border-left-width: 8px;
}

.scenario-table .table-note {
  font-style: italic;
  font-size: 0.7rem;
  text-align: center;
}