@import "../node_modules/ol/ol.css";

html, body, #root, .App {
  margin: 0;
  height: 100%;
}

.map-and-menu-container {
  /*display: flex;*/
  /*align-items: stretch;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-container {
  position: absolute;
  /*flex-grow: 1;*/
  height: 100%;
  width: 60%;
  float: left;
}

.menu-container {
  /*flex-grow: 1;*/
  height: inherit;
  width: 40%;
  float: right;
  padding: 1rem;
  overflow-y: scroll;
}

.map-viewport {
  /*flex-grow: 1;*/
  height: 100%;
  width: 100%;
  float: left;
}

.layers-control {
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;
}

.layers-control button {
  min-width: 24px;
  min-height: 24px;
}

.layers-panel {
  background-color: white;
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
  filter: drop-shadow(2px 2px 2px grey);
}

.layers-panel .subheader {
  border-top: dotted;
  border-width: thin;
  padding-top: 0.5rem;
}

.layer-info {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 5px;
}

.layer-info p {
  padding: 0.5rem;
  margin: 0;
  font-weight: 600;
}

.map-lulc-legend {
  background-color: rgba(255,255,255,0.9);
  display: flex;
  /*height: 1rem;/*
  /*padding-bottom: 2rem;*/
  width: 250px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 600;
  align-items: center;
}

/*.edit-wallpaper {
  display: flex;
  align-items: baseline;
}

.edit-wallpaper .bp4-html-select {
  margin-left: 1rem;
}*/

.sidebar-subheading {
  padding-top: 1rem;
  /*font-weight: 600;*/
  font-size: 1.2rem;
}

#scenario-input-label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.panel {
  background-color: rgba(240, 240, 240, 1.0);
  filter: drop-shadow(1px 1px 1px grey);
  padding: 0.5rem;
}

.conversion-radio {
  padding-top: 0.5rem;
}

.wallpaper-options {
  display: inline-block;
  vertical-align: top;
}

.wallpaper-options button {
  margin-bottom: 1rem;
}

.wallpaper-selected-pattern {
  display: inline-block;
  float: right;
  width: 80px;
  height: 80px;
}

.wallpaper-selected-pattern .bp4-non-ideal-state-visual {
  margin-bottom: 0rem;
  line-height: 0;
}

.wallpaper-selected-pattern .thumbnail {
  width: 75px;
  height: 75px;
}

.pattern-catalog {
  list-style-type: none;
}

.pattern-catalog li {
  padding-top: 1rem;
}

.pattern-catalog button {
  display: inline-block;
}

.pattern-catalog label {
  display: inline-block;
  padding-left: 1rem;
  vertical-align: top;
  padding-top: 0.5rem;
  font-weight: 500;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

#study-area-input-container {
  display: flex;
}

#study-area-input-container div {
  flex-grow: 1;
}

#study-area-input-container label {
  font-size: 1.2rem;
}

.study-area-table {
  margin-top: 0.5rem;
  border-collapse: collapse;
}

.study-area-table tr {
  border: solid;
  border-color: lightgray;
  border-width: 0.5px 0;
}

.study-area-table tr:first-child {
  border-top: none;
}

.study-area-table .parcel-address {
  width: 200px;
}

.study-area-table .parcel-block {
  display: flex;
  flex-wrap:  wrap;
}

.study-area-table .hidden-row {
  display: none;
}

.study-area-table-legend {
  display: flex;
  height: 1rem;
  padding-bottom: 2rem;
}

#scenario-table {
  padding-top: 1rem;
  width: 100%;
}

#scenario-table .header {
  font-weight: 500;
}

#scenario-table .row-name {
  padding: 0.5rem;
  border-left-style: solid;
  border-left-width: 8px;
}

#scenario-table .table-note {
  font-style: italic;
  text-align: center;
}

/*de-saturate to match saturation adjustment in lulcLayer.js*/
.lulc-legend {
  filter: saturate(60%);
}

#invest-runner {
  display: flex;
  flex-direction: column;
}

#invest-runner button {
  margin-left: 2rem;
  margin-right: 2rem;
/*  border-color: darkred;*/
}

.hanging-indent {
  margin-left: 2rem;
}

#poverty-heading {
  text-decoration: underline;
}

#results .panel {
  margin-bottom: 1rem;
}

#results .panel select {
  margin-left: 1rem;
}

#results th, td {
  vertical-align: bottom;
  padding-right: 3rem;
}

#results table {
  border-collapse: collapse;
}

#results tr {
  border-bottom: 1px solid lightgray;
}

.units {
/*  font-size: 0.8em;*/
  color: gray;
  padding-left: 0.5em;
}

#demographics-header {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  border-bottom: 1px solid lightgray;
}

#demographics-header svg {
  margin-right: 1rem;
}

#demographics-body {
  display: flex;
  flex-direction: row;
}

#acs-container {
  background-color: #F5F5F5;
  margin-left: 2rem;
  padding-right: 1rem;
  flex-basis: 0;
  flex-grow: 1;
}

#acs-container li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#demographics-footer {
  font-size: 0.8em;
  float: right;
}