@import "../node_modules/ol/ol.css";

html, body, #root, .App {
  margin: 0;
  height: 100%;
}

.map-and-menu-container {
  /*display: flex;*/
  /*align-items: stretch;*/
  width: 100%;
  height: 100%;
}

.map-container {
  /*flex-grow: 1;*/
  height: 100%;
  width: 60%;
  float: left;
}

.map-viewport {
  /*flex-grow: 1;*/
  height: 100%;
  width: 100%;
  float: left;
}

.menu-container {
  /*flex-grow: 1;*/
  width: 40%;
  float: right;
  padding: 1rem;
}

.scenario-select {
  display: inline;
}

.scenario-table {
  padding-top:  1rem;
}

.layer-switcher {
  left: 0.5em;
  right: unset;
  margin-top: 0.5rem;
}

.layer-switcher button {
  background-position: center;
  background-size: contain;
}
