@import "../node_modules/ol/ol.css";

html, body, #root, .App {
  margin: 0;
  height: 100%;
}

.map-and-menu-container {
  /*display: flex;*/
  /*align-items: stretch;*/
  width: 100%;
  height: 100%;
}

.map-container {
  /*flex-grow: 1;*/
  height: 100%;
  width: 60%;
  float: left;
}

.map-viewport {
  /*flex-grow: 1;*/
  height: 100%;
  width: 100%;
  float: left;
}

.menu-container {
  /*flex-grow: 1;*/
  width: 40%;
  float: right;
  padding: 1rem;
}

.scenario-select {
  display: inline;
}

.scenario-table {
  padding-top: 1rem;
}

.layers-control {
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;
}

.layers-control button {
  min-width: 24px;
  min-height: 24px;
}

.layers-panel {
  background-color: white;
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
  filter: drop-shadow(2px 2px 2px grey);
}
